<link rel="stylesheet" href="/css/home.css">

<h1>Lista de Productos</h1>
<p>Aquí se mostrará la lista de productos estática.</p>
<div class="products-container">
    {{#each products}}
        <div class="product-card">
            <h3>{{this.name}} (ID: {{this.id}})</h3>
            <p>Descripción: {{this.description}}</p>
            <p>Precio: ${{this.price}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Categoría: {{this.category}}</p>
        </div>
    {{/each}}
</div>